doctype html
html(lang='en')
	block head
		head
			meta(charset='UTF-8')
			meta(name='viewport', content='width=device-width, initial-scale=1.0')

			link(rel='icon', href='/img/favicon.png', type='image/png')
			link(rel='stylesheet', href='/css/style.css')
			link(rel='stylesheet', href='/fonts/font.css')
			title Natours | #{ title }

	body
		//- HEADER
		include partials/_header

	//- CONTENT
	block content
		h1 This is a placeholder heading

	//- FOOTER
	include partials/_footer
	script(src="/js/bundle.js")
